var/
media/
includes/
downloader/
app/etc/local.xml
.sass-cache/
lib/
errors/
app/design/frontend/base/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/

skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/iphone/
skin/frontend/default/modern/

LICENSE*
cron*
