<?xml version="1.0"?>
<!--
/**
 * @author		Sashas
 * @category    Sashas
 * @package     Sashas_Newrand
 * @copyright   Copyright (c) 2014 Sashas IT Support Inc. (http://www.sashas.org)
 * @license    http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
 */
-->
<config>
    <modules>
        <Sashas_Newrand>
            <version>0.1.1</version>
        </Sashas_Newrand>
    </modules>
	<global>
         <blocks>
        	<newrand>
        		<class>Sashas_Newrand_Block</class>        		
        	</newrand>
        	<catalog>
        		<rewrite> 
        			<product_new>Sashas_Newrand_Block_New</product_new>
        		</rewrite>
        	</catalog>
        </blocks> 
        <helpers>
        	<newrand>
        		<class>Sashas_Newrand_Helper</class>        		
        	</newrand>
        </helpers>      
		<resources>
            <newrand_setup>
                <setup>
                    <module>Sashas_Newrand</module>                 
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newrand_setup>
            <newrand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newrand_write>
            <newrand_read>
                <connection> 
                    <use>core_read</use>
                </connection>
            </newrand_read>
		</resources>                         
	</global>	  	   
</config>


